@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Washington Gomes</h1>
    <p>Programador Web <a href="https://www.linkedin.com/in/criarsite">C# .NET Developer</a>.</p>
</div>
